body {
    background-color: #FF7CB4;
}

.responsive {
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border
} 

.love {
    color: #BD1D1D;
}

#bh {
    text-align: center;
    font-family: "Lucida Handwriting", "Courier New", cursive;
    
    
.font {
    font-family: "Lucida Handwriting", cursive